@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h6>@Localizer["Search result: {0} dormitories found"]</h6>

<div class="card  card-dorm-search">


    <div class="card-body row">
        <div class="col-lg-4 swiper-js-container" style="position:relative">

            <!-- Swiper Arrows -->

            <div class="swiper-button swiper-button-prev " style="position:absolute; right:10%; top:40%;" tabindex="0" role="button" aria-label="Previous slide" aria-disabled="true">
                <i class="fa fa-angle-left"></i>
            </div>
            <div class="swiper-button swiper-button-next float-right" style="position:absolute; left:93%; top:40%; " tabindex="0" role="button" aria-label="Next slide" aria-disabled="true">
                <i class="fa fa-angle-right"></i>
            </div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>



            <div class="swiper-container swiper-container-horizontal" data-swiper-items="1" data-swiper-space-between="20" data-swiper-sm-items="2" data-swiper-sm-space-between="20" data-swiper-xl-items="1" data-swiper-xl-space-between="20" style="cursor: grab;">
                <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px); transition-duration: 12ms;">

                    <div class="swiper-slide swiper-slide-next" style="width: 230px; margin-right: 20px;">
                        <div class="card border-0">
                            <div class="text-white">
                                <img alt="Image placeholder" class="img-fluid rounded" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/kamacioglu/S%C3%9C%C4%B0T_1.jpg?RenditionID=6">

                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide swiper-slide-next" style="width: 230px; margin-right: 20px;">
                        <div class="card border-0">
                            <div class="text-white">
                                <img alt="Image placeholder" class="img-fluid rounded" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/nural/photo6010428924410047910.jpg?RenditionID=6">

                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide swiper-slide-active" style="width: 230px; margin-right: 20px;">
                        <div class="card border-0">
                            <div class="text-white">
                                <img alt="Image placeholder" class="img-fluid rounded" src="https://is5-ssl.mzstatic.com/image/thumb/Purple118/v4/18/c4/73/18c473bc-cd1c-4e6e-4ba0-4a9afcae1fc4/source/512x512bb.jpg">

                            </div>
                        </div>
                    </div>

                    <div class="swiper-slide swiper-slide-next" style="width: 230px; margin-right: 20px;">
                        <div class="card border-0">
                            <div class="text-white">
                                <img alt="Image placeholder" class="img-fluid rounded" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/kamacioglu/S%C3%9C%C4%B0T_1.jpg?RenditionID=6">

                            </div>
                        </div>
                    </div>



                    <div class="swiper-slide swiper-slide-next" style="width: 230px; margin-right: 20px;">
                        <div class="card border-0">
                            <div class="text-white">
                                <img alt="Image placeholder" class="img-fluid rounded" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/nural/IMG_0027%20(1).jpg?RenditionID=6">

                            </div>
                        </div>
                    </div>


                    <div class="swiper-slide" style="width: 230px; margin-right: 20px;">
                        <div class="card border-0">
                            <div class="text-white">
                                <img alt="Image placeholder" class="img-fluid rounded" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/popart/TV%20ROOM%20KING%20EXCLUSIVE.jpg?RenditionID=6">

                            </div>
                        </div>
                    </div>
                </div>

            </div>



        </div>



        <div class="col-lg-5">
            <span class="badge badge-secondary">Apartments</span>
            <h4 class="dormitory-name"><a asp-action="Detail" asp-controller="Dormitory"> Akdeniz private Studio </a></h4>

            <span class="static-rating static-rating-sm">
                <i class="star fas fa-star voted"></i>
                <i class="star fas fa-star voted"></i>
                <i class="star fas fa-star voted"></i>
                <i class="star fas fa-star voted"></i>

                <i class="star fas fa-star-half-empty "></i>

            </span>


            <span><i class="fa fa-thumbs-up" style="color:orange;"></i></span>


            <div class="location-info">
                <span class="address-show-map" style="color:#269038; text-decoration:underline;"><i class="fa fa-map-marker text-primary "></i> <a href="#" style=" color:#269038">Jung-Gu, Seoul-Show on map</a></span>

                <span class="nearneast-to-subway"> <i class="fa fa-link text-primary"></i> <a href="#" style="color:#269038">(1.8 km from Central lecture hall)-Bus stop access</a></span>
            </div>
            <p class="h6">
                Has multi-cultural students, Akdeniz studio is located inside school, not far
                from Ekor Market......
            </p>

            <span><i class="fa fa-credit-card"></i><a href="#">Reservation possible without a credit card</a></span>
            <p class="text-danger">Booked 2 times in the last 6 hours</p>
        </div>

        <div class="col-lg-3 rating">
            <div class="rating-detail">
                <span class="rating-text inline h4">Excellent</span>
                <a class=" float-right rating-no text-white text-bold h3">9.7</a>
            </div>


            <span class="block text-primary">13 reviews</span>

            <h6>Location 10</h6>
            <h6>Guest Favorite</h6>
            <a href="#" class=" btn btn-sm btn-primary">@Localizer["Show prices"]</a>
            @*<h4 class="text-bold" style="color:#269038">TL 1.839,00</h4>*@

        </div>

    </div>
</div>

<br />