@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@



<h6>TV <img class="img_icon float-right" src="@Url.Content("~/Content/")Dormitories_files/tv.png" alt="Photo"></h6>
<div class="custom-control custom-checkbox mb-3">
    <input type="checkbox" class="custom-control-input targetFilterInput" id="customCheck1">
    <label class="custom-control-label inline" for="customCheck1">In Room <span class=" float-right">236</span></label>

</div>

<div class="custom-control custom-checkbox mb-3">
    <input type="checkbox" class="custom-control-input targetFilterInput" id="customCheck2" checked="">
    <label class="custom-control-label" for="customCheck2">In Hall  <span class=" float-right">6</span></label>
</div>

<br />
<h6>Internet <img class="img_icon float-right" src="@Url.Content("~/Content/")Dormitories_files/internet_wifi.png" alt="Photo"></h6>

<div class="custom-control custom-checkbox mb-3">
    <input type="checkbox" class="custom-control-input targetFilterInput" id="customCheck1">
    <label class="custom-control-label" for="customCheck1">Wireless  <span class=" float-right">2</span></label>
</div>

<div class="custom-control custom-checkbox mb-3">
    <input type="checkbox" class="custom-control-input targetFilterInput" id="customCheck2" checked="">
    <label class="custom-control-label" for="customCheck2">Cable  <span class=" float-right">36</span></label>
</div>

<br />
<h6>WC-Shower <img class="img_icon float-right" src="@Url.Content("~/Content/")Dormitories_files/wc-shower.png" alt="Photo"></h6>

<div class="custom-control custom-checkbox mb-3">
    <input type="checkbox" class="custom-control-input targetFilterInput" id="customCheck134">
    <label class="custom-control-label" for="customCheck1">In Room  <span class=" float-right">2</span></label>
</div>

<div class="custom-control custom-checkbox mb-3">
    <input type="checkbox" class="custom-control-input targetFilterInput" id="customCheck2233">
    <label class="custom-control-label" for="customCheck2">Common  <span class=" float-right">25</span></label>
</div>

<div class="custom-control custom-checkbox mb-3">
    <input type="checkbox" class="custom-control-input targetFilterInput" id="customCheck23">
    <label class="custom-control-label" for="customCheck2">Flats  <span class=" float-right">24</span></label>
</div>

<br />
<h6>Kitchenette </h6>

<div class="custom-control custom-checkbox mb-3">
    <input type="checkbox" class="custom-control-input targetFilterInput" id="customCheck134">
    <label class="custom-control-label" for="customCheck1">In Room  <span class=" float-right">4</span></label>
</div>

<div class="custom-control custom-checkbox mb-3">
    <input type="checkbox" class="custom-control-input targetFilterInput" id="customCheck245">
    <label class="custom-control-label" for="customCheck2">Flats  <span class=" float-right">13</span></label>
</div>


<br />
<h6>Bed <img class="img_icon float-right" src="@Url.Content("~/Content/")Dormitories_files/bed.png" alt="Photo"></h6>



<div class="custom-control custom-checkbox mb-3">
    <input type="checkbox" class="custom-control-input targetFilterInput" id="customCheck156">
    <label class="custom-control-label" for="customCheck1">Bunk  <span class=" float-right">42</span></label>
</div>

<div class="custom-control custom-checkbox mb-3">
    <input type="checkbox" class="custom-control-input targetFilterInput" id="customCheck223">
    <label class="custom-control-label" for="customCheck2">Normal  <span class=" float-right">16</span></label>
</div>

