
@media screen and (max-width: 1260px) {
    .overflow {
        overflow: auto;
    }
}

.grid-item {
    margin: 2px;
    height:80px;
    width:80px;
}

    .grid-item:hover {
        border: solid;
        border-color: #ff9500;
        border-width: 2px;
    }

.grid-item-active {
    border: solid;
    border-color: #ff9500;
    border-width: 2px;
}


.swiper_container_room {
    width: 100%;
    height: 400px;
    background-color: #2541820a;
    justify-content: center;
}

.swiper_slide_room {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: #2541820a;
    margin: auto;
    width: 100%;
    height: 100%;




       /* Center vertically */
       align-items: center;

       /*Center horizontaly */
       justify-content: center;

       /*Center horizontaly ie */
       -ms-flex-pack: center;

        min-height: 220px; 
        height:100%;

}




.swiper-container {
    width: 100%;
    height: 400px;
    background-color: #2541820a;
    justify-content: center;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: #2541820a;
    margin: auto;
    width: 100%;
    height: 100%
    /* Center vertically */
    align-items: center;
    /*Center horizontaly */
    justify-content: center;
    /*Center horizontaly ie */
    -ms-flex-pack: center;
    min-height: 220px;
    height: 100%;
}


.img_icon {
    width: 20px;
    height: 20px;
}

.fabb {
    width: 50px;
    height: 50px;
    z-index: 999;
    position: fixed;
    bottom:15%;
    right: 2%;
    font-size: 2.0em;
    display: inline-block;
    cursor: default;
}

.modal_filter {
    margin: 0px;
    padding: 0px;
    display: block;
}

.facilityCol {
   
   
}
.specificRoomFancyBox {
    width: 70%;
   
}

@media only screen and (min-width: 600px) {
    .specificRoomFancyBox {
        width: 100%;
    }
} 

@media only screen and (max-width: 990px) {
    /* The Modal (background) */
    .modal_filter {
        margin: 0px;
        margin-bottom: 5%;
        padding: 0px;
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 999; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

  
    .model_filter_content {
        margin: 20px;
    }
    /* The Close Button */
    .close_filter {
        color: #aaaaaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
}
