
@{
    var counter = Model;

}


    <div>

        <nav aria-label="Page navigation pull-right">
            <ul class="pagination">
                <li class="disabled">
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li id="paginationx"  class="active"><a  href="javascript:paginationx()" >1 <span class="sr-only">(current)</span></a></li>
                @for (var i = 0; i < counter; i++)
                {
                    <li ><a href="javascript:paginationx()" >@(i+2)</a></li>
                }
               

                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>

            </ul>

        </nav>



    </div>
