
@{
    ViewData["Title"] = Localizer["BookingCheckoutAddress"];

    ViewData["Header"] = Localizer["Checkout"];
    ViewData["SubDescription"] = Localizer["Booking address"];


    Layout = "~/Views/Shared/_LayoutCheckout.cshtml";
}

<section class="slice">
    <div class="container">
        <div class="row row-grid">
            <div class="col-lg-8">
                <form>
                    <div>

                        <div class="page-inner-header mb-4">
                            <h5 class="mb-1">My saved addresses</h5>

                            <p class="text-muted mb-0">Use one of your saved addresses for fast checkout.</p>

                        </div>

                        <div class="table-responsive">
                            <table class="table table-flush mb-0 align-items-center">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="tbl-addresses-check-1">
                                                <label class="custom-control-label" for="tbl-addresses-check-1"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="font-weight-600 text-dark">Address 1<span class="badge badge-md badge-pill badge-info ml-2">Primary</span></span>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <p class="mb-0 text-muted text-limit text-sm">1333 Deerfield, State College PA, 16803</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                                    <a class="dropdown-item" href="#"><i class="fas fa-user text-muted"></i>See profile</a>
                                                    <a class="dropdown-item" href="#"><i class="fas fa-envelope text-muted"></i>Send message</a>
                                                    <a class="dropdown-item" href="#"><i class="fas fa-trash-alt text-muted"></i>Remove</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="tbl-addresses-check-2">
                                                <label class="custom-control-label" for="tbl-addresses-check-2"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="font-weight-bold text-dark">Address 2</span>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <p class="mb-0 text-muted text-limit text-sm">1333 Deerfield, State College PA, 16803</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                                    <a class="dropdown-item" href="#"><i class="fas fa-user text-muted"></i>See profile</a>
                                                    <a class="dropdown-item" href="#"><i class="fas fa-envelope text-muted"></i>Send message</a>
                                                    <a class="dropdown-item" href="#"><i class="fas fa-trash-alt text-muted"></i>Remove</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="tbl-addresses-check-3">
                                                <label class="custom-control-label" for="tbl-addresses-check-3"></label>
                                            </div>
                                        </td>
                                        <td>
                                            <span class="font-weight-600 text-dark">Address 3</span>
                                        </td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <p class="mb-0 text-muted text-limit text-sm">1333 Deerfield, State College PA, 16803</p>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-v"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                                    <a class="dropdown-item" href="#"><i class="fas fa-user text-muted"></i>See profile</a>
                                                    <a class="dropdown-item" href="#"><i class="fas fa-envelope text-muted"></i>Send message</a>
                                                    <a class="dropdown-item" href="#"><i class="fas fa-trash-alt text-muted"></i>Remove</a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>

                    <!-- Address -->
                    <div class="mt-5 pt-5 delimiter-top">

                        <div class="page-inner-header mb-4">
                            <h5 class="mb-1">Add new address</h5>

                            <p class="text-muted mb-0">Fill in your address info for upcoming orders or payments.</p>

                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label">First name</label>
                                    <input class="form-control" type="text" placeholder="Enter your first name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label">Last name</label>
                                    <input class="form-control" type="text" placeholder="Also your last name">
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="form-control-label">Address</label>
                                    <input class="form-control" type="text" placeholder="Address, Number">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label">Country</label>
                                    <select class="form-control" data-toggle="select" title="Country">
                                        <option selected>Select your country</option>
                                        <option value="1">Bulgaria</option>
                                        <option value="2">Croatia</option>
                                        <option value="3">Denmark</option>
                                        <option value="4">Finland</option>
                                        <option value="5">Greece</option>
                                        <option value="6">Romania</option>
                                        <option value="7">United Kingdom</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label">City</label>
                                    <select class="form-control" data-toggle="select" title="City">
                                        <option selected>Select your city</option>
                                        <option value="1">Bucharest</option>
                                        <option value="2">Bacau</option>
                                        <option value="3">Cluj Napoca</option>
                                        <option value="4">Piatra Neamt</option>
                                        <option value="5">Sibiu</option>
                                        <option value="6">Timisoara</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label">Postal code</label>
                                    <input class="form-control" type="text" placeholder="Address, Number">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-control-label">Phone</label>
                                    <input class="form-control" type="text" placeholder="+40-777 245 549">
                                </div>
                            </div>
                        </div>
                    </div>

                   
                    <div class="mt-5 text-right">
                        <button type="button" class="btn btn-link text-sm text-dark font-weight-bold">Previous step</button>
                        <button type="button" class="btn btn-sm btn-primary">Next step</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">

                <div data-toggle="sticky" data-sticky-offset="100">

                    <div class="card" id="card-summary">
                        <div class="card-header py-3">
                            <div class="row align-items-center">
                                <div class="col-6">
                                    <span class="h6">Summary</span>
                                </div>
                                <div class="col-6 text-right">
                                    <span class="badge badge-md badge-pill badge-info">1 selected Room</span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-8">
                                    <div class="media align-items-center">
                                        <img alt="Image placeholder" class="mr-2" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuzxmbcw2jxGlHQ_ZuICaAowpUUjFoOYTJH9oGmsQmz3WG4IpkSw" style="width: 42px;">
                                        <div class="media-body">
                                            <div class="text-limit lh-100">
                                                <small class="text-dark font-weight-bold mb-0">Alfam Dormitories</small>
                                            </div>
                                            <small class="text-muted">2 semsters</small><br/>
                                            <small class="text-muted">Single room</small><br/>
                                            <small class="text-muted">A. block</small><br/>
                                            <small class="text-muted">42.3 m2</small><br/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 text-right lh-100">
                                    <small class="text-dark">$1,800.00</small>
                                </div>
                            </div>

                            <!-- Subtotal -->
                            <div class="row mt-3 pt-3 border-top">
                                <div class="col-8 text-right">
                                    <small class="text-dark font-weight-bold">Subtotal:</small>
                                </div>
                                <div class="col-4 text-right">
                                    <span class="text-sm font-weight-bold">$330.50</span>
                                </div>
                            </div>
                            <!-- Booking fee -->
                            <div class="row mt-3 pt-3 border-top">
                                <div class="col-8 text-right">
                                    <div class="media align-items-center">

                                        <div class="media-body">
                                            <div class="text-limit lh-100">
                                                <small class="text-dark font-weight-bold mb-0">Booking fee:</small>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 text-right">
                                    <span class="text-sm font-weight-bold">$25.00</span>
                                </div>
                            </div>
                            <!-- Tax-->
                            <div class="row mt-3 pt-3 border-top">
                                <div class="col-8 text-right">
                                    <div class="media align-items-center">

                                        <div class="media-body">
                                            <div class="text-limit lh-100">
                                                <small class="text-dark font-weight-bold mb-0">Tax:</small>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-4 text-right">
                                    <span class="text-sm font-weight-bold">$25.00</span>
                                </div>
                            </div>
                            <!-- Subtotal -->
                            <div class="row mt-3 pt-3 border-top">
                                <div class="col-8 text-right">
                                    <small class="text-uppercase text-dark font-weight-bold">Total:</small>
                                </div>
                                <div class="col-4 text-right">
                                    <span class="text-sm text-dark font-weight-bold">$355.50</span>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

