
@{
    ViewData["Title"] = "AccountBilling";
    Layout = "~/Views/Shared/_LayoutMyAccount.cshtml";
}


<!--- start now -->

<div class="col-lg-9">
   

    <!-- Payment history -->
    <div class="">

        <div class="page-inner-header mb-4">
            <h5 class="mb-1">Payment history</h5>

            <p class="text-muted mb-0">You can help us, by filling your data, create you a much better experience using our website.</p>

        </div>

        <div class="table-responsive">
            <table class="table table-hover table-cards align-items-center">
                <tbody>
                    <tr>
                        <th scope="row">
                            <span class="badge badge-lg badge-dot">
                                <i class="bg-success"></i>
                            </span>
                        </th>
                        <td>
                            <i class="fas fa-calendar-alt mr-2"></i>
                            <span class="font-weight-bold text-dark">May 20, 2018</span>
                        </td>
                        <td>#10015</td>
                        <td><i class="fas fa-credit-card mr-2"></i>Visa ending in 2035</td>
                        <td>$49.00 USD</td>
                        <td>
                            <div class="dropdown">
                                <a class="btn btn-sm btn-icon-only" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#"><i class="fas fa-file-pdf text-muted"></i>Download invoice</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-file-archive text-muted"></i>See details</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-trash-alt text-muted"></i>Delete</a>

                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="table-divider"></tr>
                    <tr>
                        <th scope="row">
                            <span class="badge badge-lg badge-dot">
                                <i class="bg-danger"></i>
                            </span>
                        </th>
                        <td>
                            <i class="fas fa-calendar-alt mr-2"></i>
                            <span class="font-weight-bold text-dark">Apr 15, 2018</span>
                        </td>
                        <td>#10015</td>
                        <td><i class="fas fa-credit-card mr-2"></i>Visa ending in 2035</td>
                        <td>
                            <span class="text-danger">$39.00 USD</span>
                        </td>
                        <td>
                            <div class="dropdown">
                                <a class="btn btn-sm btn-icon-only" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#"><i class="fas fa-file-pdf text-muted"></i>Download invoice</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-file-archive text-muted"></i>See details</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-trash-alt text-muted"></i>Delete</a>

                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="table-divider"></tr>
                    <tr>
                        <th scope="row">
                            <span class="badge badge-lg badge-dot">
                                <i class="bg-success"></i>
                            </span>
                        </th>
                        <td>
                            <i class="fas fa-calendar-alt mr-2"></i>
                            <span class="font-weight-bold text-dark">May 20, 2018</span>
                        </td>
                        <td>#10015</td>
                        <td><i class="fas fa-credit-card mr-2"></i>Visa ending in 2035</td>
                        <td>$49.00 USD</td>
                        <td>
                            <div class="dropdown">
                                <a class="btn btn-sm btn-icon-only" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#"><i class="fas fa-file-pdf text-muted"></i>Download invoice</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-file-archive text-muted"></i>See details</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-trash-alt text-muted"></i>Delete</a>

                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="table-divider"></tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- Attach a new card -->
    <div class="mt-5 pt-5 delimiter-top">

        <div class="page-inner-header mb-4">
            <h5 class="mb-1">Attach a new card</h5>

            <p class="text-muted mb-0">Add you credit card for faster checkout process.</p>

        </div>

        <form class="form-default mt-4">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-8">
                            <h5>Credit Card</h5>
                            <p class="text-muted mt-2">Safe money transfer using your bank account. We support Mastercard, Visa, Maestro and Skrill.</p>
                        </div>
                        <div class="col-lg-4 text-lg-right">
                            <img alt="Image placeholder" src="@Url.Content("~/frontend_Content/assets")/img/icons/cards/mastercard.png" width="40" class="mr-2">
                            <img alt="Image placeholder" src="@Url.Content("~/frontend_Content/assets")/img/icons/cards/visa.png" width="40" class="mr-2">
                            <img alt="Image placeholder" src="@Url.Content("~/frontend_Content/assets")/img/icons/cards/skrill.png" width="40">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="input-group input-group-transparent">
                                    <input type="text" class="form-control" data-mask="0000 0000 0000 0000" placeholder="4789 5697 0541 7546">
                                    <div class="input-group-append">
                                        <span class="input-group-text"><i class="fas fa-credit-card"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Name on card</label>
                                <input type="text" class="form-control" placeholder="John Doe">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Expiry date</label>
                                <input type="text" class="form-control" data-mask="00/00" placeholder="MM/YY">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">CVV code</label>
                                <div class="input-group input-group-transparent">
                                    <input type="text" class="form-control" data-mask="000" placeholder="746">
                                    <div class="input-group-append" data-toggle="popover" data-container="body" data-placement="top" data-content="It is a three digit code that can be found only on the back of your card. Be carefull so no one sees it." data-title="What is a CVV code?">
                                        <span class="input-group-text"><i class="fas fa-question-circle"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <a href="#" class="btn btn-sm btn-primary">Save card</a>
                    </div>
                </div>
            </div>
            <!-- Add money using PayPal -->
            <div class="card mt-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <h5>PayPal</h5>
                            <p class="text-muted mt-2">Pay your order using the most known and secure platform for online money transfers. You will be redirected to PayPal to finish complete your purchase.</p>
                        </div>
                        <div class="col-4 text-right">
                            <img alt="Image placeholder" src="@Url.Content("~/frontend_Content/assets")/img/icons/cards/paypal-256x160.png" width="100">
                        </div>
                    </div>

                    <div class="btn-group btn-group-toggle d-flex" data-toggle="buttons">
                        <label class="btn btn-sm btn-secondary flex-fill active">
                            <input type="radio" name="options" id="checkboxButton2" checked>$5
                        </label>
                        <label class="btn btn-sm btn-secondary flex-fill">
                            <input type="radio" name="options" id="checkboxButton3">$10
                        </label>
                        <label class="btn btn-sm btn-secondary flex-fill">
                            <input type="radio" name="options" id="checkboxButton4">$25
                        </label>
                        <label class="btn btn-sm btn-secondary flex-fill">
                            <input type="radio" name="options" id="checkboxButton5">$50
                        </label>
                        <label class="btn btn-sm btn-secondary flex-fill">
                            <input type="radio" name="options" id="checkboxButton6">$100
                        </label>
                    </div>
                    <div class="text-right mt-3">
                        <a href="#" class="btn btn-sm btn-primary">Pay with PayPal</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>