
@{
    ViewData["Title"] = "BookingCart";

    ViewData["Header"] = "Booking Cart";
    ViewData["SubDescription"] = "Cart information";

    Layout = "~/Views/Shared/_LayoutCheckout.cshtml";
}


<section class="slice slice-lg">
    <div class="container">
        <!-- Shopping cart -->
        <div class="table-responsive">
            <table class="table align-items-center">
                <thead>
                    <tr>
                        <th>Dormitory/Room</th>
                        <th>Price</th>
                        <th>Number of Semesters</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="media align-items-center">
                                <img alt="Image placeholder" class="mr-3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuzxmbcw2jxGlHQ_ZuICaAowpUUjFoOYTJH9oGmsQmz3WG4IpkSw" style="width: 80px;">
                                <div class="media-body">
                                    <div class="lh-100">
                                        <span class="text-dark font-weight-bold mb-0">Alfam Dormitories</span>
                                    </div>
                                    <span class="font-weight-bold text-muted">Single room</span><br />
                                    <span class="font-weight-bold text-muted">A. block</span><br />
                                    <span class="font-weight-bold text-muted">42.5 m2</span><br />

                                </div>
                            </div>
                        </td>
                        <td>
                            <span class="font-weight-bold">$900 USD</span>
                        </td>
                        <td>
                            <input type="text" class="form-control form-control-sm text-center" style="width: 80px;" value="2">
                        </td>
                        <td>
                            <span class="font-weight-bold text-dark">$1,800 USD</span>
                        </td>
                        <td class="text-right">
                            <a href="#" class="text-light" data-toggle="tooltip" data-original-title="Remove item">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div class="">
            <div class="row justify-content-center">
                <div class="col-md-5 col-lg-4 text-center">
                    <h5 class="mb-0">Total: $1,800 USD</h5>
                    <p class="small mb-0">Have a coupon code? Add the code in the form below</p>
                    <form class="mt-4">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-sm" placeholder="Type your voucher code ...">
                            <span class="input-group-append">
                                <button type="button" class="btn btn-sm btn-primary">Apply code</button>
                            </span>
                        </div>
                    </form>
                </div>

            </div>
        </div>
      

        <!-- Cart information -->
        <div class="mt-5 pt-5 delimiter-top">
            <div class="row justify-content-center">

                <div class=" text-right">
                    <button type="button" class="btn btn-link text-sm text-dark font-weight-bold">Go back to Home Page</button>
                    <a asp-controller="debug" asp-action="BookingCheckoutCustomer" class="btn btn-sm btn-primary">Next step</a>
                </div>
            </div>
        </div>
    </div>



</section>

