
@{
    ViewData["Title"] = "BookingCartEmpty";

    ViewData["Header"] = "Booking Cart";
    ViewData["SubDescription"] = "Cart information";


    Layout = "~/Views/Shared/_LayoutCheckout.cshtml";
}

<section class="slice slice-xl  d-flex align-items-center">
    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="text-center">
                    <div class="icon icon-xl icon-shape icon-pink rounded-circle">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                    <h6 class="h4 my-4">Your cart is empty.</h6>
                    <p class="px-5">
                        Your cart is currently empty. Return to our home page and check out the latest offers. We have some great deals that are waiting for you.
                    </p>
                    <a href="#" class="btn btn-dark btn-circle mt-5">Return to Home page</a>
                </div>
            </div>
        </div>
    </div>
</section>

