
@{
    ViewData["Title"] = "ExploreEMU";
    Layout = "~/Views/Shared/_LayoutExploreEmu.cshtml";
}


<!-- Spotlight -->
<section class="bg-primary">
    <div class="spotlight overflow-hidden bg-cover bg-size--cover" data-spotlight="fullscreen" style="background-image: url('https://dormitories.emu.edu.tr/PublishingImages/Stock/akdeniz.jpg?RenditionID=10'); background-position: center center" data-separator="rounded-left" data-separator-orientation="bottom">
        <span class="mask bg-gradient-primary opacity-7--hover"></span>
        <div class="spotlight-holder">
            <div class="container py-xl d-flex align-items-center">
                <div class="col pt-md pt-lg-0">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 text-center">
                            <h6 class="font-weight-700 text-uppercase text-white ls-2 mb-md">Find your <span class="text-info typed" id="type-example" data-type-this="purpose., new room., new accomodation., home."></span></h6>

                            <h1 class="text-white">Explore various EMU dormitories  and find your best fit.</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="slice slice-xl bg-darker">
    <div class="container">
        <div class="row row-grid justify-content-center">
            <div class="col-lg-6">
                <h3 class="text-white mb-4">Why EMU Dormitories ?</h3>
                <h3 class="lead text-white lh-150 mb-0">
                    <span class="text-info typed" id="type-example2" data-type-this="- Academic Success,-  Healthy,- Security,- Economical Benefits,- Computer Facilities,
                                                              - Communication features,- Basic Needs,- Transportation,- Healthy Eating,- Long Lasting Friendships,- Cultural and Social Life,- Sport Facilities "></span>
                </h3>
            </div>
        </div>
    </div>
</section>

<section class="slice slice-sm">
    <div class="container-fluid">

        <div class="grid">
            <div class="grid__col-sizer animate-this"></div>
            <div class="grid__gutter-sizer animate-this"></div>
        </div>

        <div class="page-load-status">
            <div class="loader-ellips infinite-scroll-request">
                <span class="loader-ellips__dot"></span>
                <span class="loader-ellips__dot"></span>
                <span class="loader-ellips__dot"></span>
                <span class="loader-ellips__dot"></span>
            </div>
            <p class="infinite-scroll-last">End of content</p>
            <p class="infinite-scroll-error">No more pages to load</p>
        </div>


    </div>
</section>







@section styles
    {

    <style>


        .grid__col-sizer,
        .photo-item {
            width: 32%;
        }

        .grid__gutter-sizer {
            width: 2%;
        }

        .photo-item {
            margin-bottom: 10px;
            float: left;
        }

        .photo-item__image {
            display: block;
            max-width: 100%;
        }

        .photo-item__caption {
            position: absolute;
            left: 10px;
            bottom: 10px;
            margin: 0;
        }

            .photo-item__caption a {
                color: white;
                font-size: 0.8em;
                text-decoration: none;
            }

        .page-load-status {
            display: none; /* hidden by default */
            padding-top: 20px;
            border-top: 1px solid #DDD;
            text-align: center;
            color: #777;
        }

        /* loader ellips in separate pen CSS */

    </style>

}


@section scripts
    {

    <script src="@Url.Content("~/frontend_Content")/node_modules/masonry-layout/dist/masonry.pkgd.min.js"></script>
    <script src="@Url.Content("~/frontend_Content")/node_modules/infinite-scroll/dist/infinite-scroll.pkgd.min.js"></script>
    <!-- Page plugins -->
    <!-- .photo-item template HTML -->
    <script type="text/html" id="photo-item-template">
        <div class="animate-this">
            <a href="#" class="card border-0" data-animate-hover="1">

                <div class="photo-item animate-this">
                    <img class="photo-item__image  rounded z-depth-3 img-fluid" src="{{imageUrl}}" alt="Photo by {{dormitoryName}}" />
                    <span class="mask mask--hover bg-gradient-primary opacity-4"></span>
                    <div class="card-img-overlay d-flex">
                        @** <div class="col pt-2">
                                <h4 class="h3 text-white text-capitalize mb-1 visible-lg visible-md">{{dormitoryDescription}}</h4>
                                <h6 class="text-white visible-lg visible-md">{{dormitoryName}}</h6>
                            </div>**@
                    </div>
                    <p class="photo-item__caption">
                        <a href="{{imageUrl}}?utm_source=infinite-scroll-demos&utm_medium=referral&utm_campaign=api-credit">{{dormitoryName}}</a>
                    </p>
                </div>
            </a>
        </div>


    </script>


    <script>
        var msnry = new Masonry( '.grid', {
        itemSelector: '.photo-item',
        columnWidth: '.grid__col-sizer',
        gutter: '.grid__gutter-sizer',
        percentPosition: true,
        stagger: 30,
        // nicer reveal transition
        visibleStyle: { transform: 'translateY(0)', opacity: 1 },
        hiddenStyle: { transform: 'translateY(100px)', opacity: 0 },
      });

      //------------------//

      // Get an API key for your demos at https://unsplash.com/developers
      var unsplashID = '9ad80b14098bcead9c7de952435e937cc3723ae61084ba8e729adb642daf0251';

      var infScroll = new InfiniteScroll( '.grid', {
        path: function() {
          return '@Html.Raw(Url.Action("ExploreEMUPicsApi", "debug"))';
        },
        // load response as flat text
        responseType: 'text',
        outlayer: msnry,
        status: '.page-load-status',
        history: false,
      });

      // use element to turn HTML string into elements
      var proxyElem = document.createElement('div');

      infScroll.on( 'load', function( response ) {
        // parse response into JSON data
          var data = JSON.parse(response);

          console.log(data);
        // compile data into HTML
        var itemsHTML = data.map( getItemHTML ).join('');
        // convert HTML string into elements
        proxyElem.innerHTML = itemsHTML;
        // append item elements
        var items = proxyElem.querySelectorAll('.photo-item');
        imagesLoaded( items, function() {
          infScroll.appendItems( items );
          msnry.appended( items );
        });
      });

      // load initial page
      infScroll.loadNextPage();

      //------------------//

      var itemTemplateSrc = document.querySelector('#photo-item-template').innerHTML;

      function getItemHTML( photo ) {
        return microTemplate( itemTemplateSrc, photo );
      }

      // micro templating, sort-of
      function microTemplate( src, data ) {
        // replace {{tags}} in source
        return src.replace( /\{\{([\w\-_\.]+)\}\}/gi, function( match, key ) {
          // walk through objects to get value
          var value = data;
          key.split('.').forEach( function( part ) {
            value = value[ part ];
          });
          return value;
        });
      }
    </script>



}



@*
    <div class="row row-grid">
        <div class="col-lg-6">
            <a href="#" class="card border-0" data-animate-hover="1">
                <div class="animate-this">
                    <img alt="Image placeholder" class="rounded z-depth-3 img-fluid" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/nural/IMG_0050%20(1).jpg?RenditionID=7">

                    <span class="mask mask--hover bg-gradient-primary "></span>
                    <div class="card-img-overlay d-flex">
                        <div class="col pt-2">
                            <h4 class="h3 text-white text-capitalize mb-1">The pineapple's story</h4>
                            <h6 class="text-white">Identity &amp; Web Design</h6>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-6">
            <a href="#" class="card border-0" data-animate-hover="1">
                <div class="animate-this">
                    <img alt="Image placeholder" class="rounded z-depth-3 img-fluid" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/nural/IMG_0004.jpg?RenditionID=7">

                    <span class="mask mask--hover bg-gradient-primary opacity-4"></span>
                    <div class="card-img-overlay d-flex">
                        <div class="col pt-2">
                            <h4 class="h3 text-white text-capitalize mb-1">Beautiful colors from nature</h4>
                            <h6 class="text-white">Branding</h6>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row row-grid">
        <div class="col-lg-6">
            <a href="#" class="card border-0" data-animate-hover="1">
                <div class="animate-this">
                    <img alt="Image placeholder" class="rounded z-depth-3 img-fluid" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/kamacioglu/S%C3%9C%C4%B0T_1.jpg?RenditionID=7">

                    <span class="mask mask--hover bg-gradient-primary opacity-4"></span>
                    <div class="card-img-overlay d-flex">
                        <div class="col pt-2">
                            <h4 class="h3 text-white text-capitalize mb-1">Golden beauty</h4>
                            <h6 class="text-white">Identity &amp; Web Design</h6>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-6">
            <a href="#" class="card border-0" data-animate-hover="1">
                <div class="animate-this">
                    <img alt="Image placeholder" class="rounded z-depth-3 img-fluid" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/kamacioglu/S%C3%9C%C4%B0T_1.jpg?RenditionID=7">

                    <span class="mask mask--hover bg-gradient-primary opacity-4"></span>
                    <div class="card-img-overlay d-flex">
                        <div class="col pt-2">
                            <h4 class="h3 text-white text-capitalize mb-1">Living dangerously</h4>
                            <h6 class="text-white">Marketing</h6>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row row-grid">
        <div class="col-lg-6">
            <a href="#" class="card border-0" data-animate-hover="1">
                <div class="animate-this">
                    <img alt="Image placeholder" class="rounded z-depth-3 img-fluid" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/kamacioglu/S%C3%9C%C4%B0T_1.jpg?RenditionID=7">

                    <span class="mask mask--hover bg-gradient-primary opacity-4"></span>
                    <div class="card-img-overlay d-flex">
                        <div class="col pt-2">
                            <h4 class="h3 text-white text-capitalize mb-1">Bear with me</h4>
                            <h6 class="text-white">Identity &amp; Web Design</h6>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-6">
            <a href="#" class="card border-0" data-animate-hover="1">
                <div class="animate-this">
                    <img alt="Image placeholder" class="rounded z-depth-4 img-fluid" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/popart/TEK%20K%C4%B0%C5%9E%C4%B0L%C4%B0K%20EXCLUS%C4%B0VE.jpg?RenditionID=7">

                    <span class="mask mask--hover bg-gradient-primary opacity-4"></span>
                    <div class="card-img-overlay d-flex">
                        <div class="col pt-2">
                            <h4 class="h3 text-white text-capitalize mb-1">Attitude is everything</h4>
                            <h6 class="text-white">Marketing</h6>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>**@