
@{
    ViewData["Title"] = "Seeding";
    Layout = "~/Views/Shared/_LayoutUserNew.cshtml";
}

<section class="slice" style=" padding-top:20px; ">
    <div class="container">
        <table class="table table-hover table-cards align-items-center">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Button</th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white">
                    <th scope="row">
                        Seed email to message queue
                    </th>
                    <td>Tests seeds an email to the message queue, sends the message to msjahun@live.com</td>
                    <td><button type="button" id="testEmail" class="btn btn-outline-primary">Seed test email</button>   </td>
                </tr>
                <tr class="table-divider"></tr>

                <tr class="bg-white">
                    <th scope="row">
                        Check json
                    </th>
                    <td>Inspect element -> network -- I use this to test api json results</td>
                    <td><button type="button" id="CheckJson" class="btn btn-outline-primary">check Json</button>   </td>
                </tr>
                <tr class="table-divider"></tr>



                <tr class="bg-white">
                    <th scope="row">
                        Seed dormitory features
                    </th>
                    <td>This seeds our database with sample features</td>
                    <td><button type="button" id="seedFacilities" class="btn btn-outline-primary">Seed</button>   </td>
                </tr>
                <tr class="table-divider"></tr>

                <tr class="bg-white">
                    <th scope="row">
                        Seed EMU Map Locations
                    </th>
                    <td>This seeds Emu map locations for users</td>
                    <td><button type="button" id="SeedEMUMapLocations" class="btn btn-outline-primary">Seed</button>   </td>
                </tr>
                <tr class="table-divider"></tr>

                <tr class="bg-white">
                    <th scope="row">
                        Seed  Dormitory Type
                    </th>
                    <td>This seeds our database with Dormitory Type</td>
                    <td><button type="button" id="SeedDormitoryType" class="btn btn-outline-primary">Seed</button>   </td>
                </tr>
                <tr class="table-divider"></tr>


                <tr class="bg-white">
                    <th scope="row">
                        Seed Dormitories
                    </th>
                    <td>This seeds our database with Dormitories</td>
                    <td><button type="button" id="seedDormitories" class="btn btn-outline-primary">Seed</button>   </td>
                </tr>
                <tr class="table-divider"></tr>



                <tr class="bg-white">
                    <th scope="row">
                        seed Dormitory Blocks
                    </th>
                    <td>This seeds our database with Dormitory blocks</td>
                    <td><button type="button" id="seedDormitoryBlocks" class="btn btn-outline-primary">Seed</button>   </td>
                </tr>
                <tr class="table-divider"></tr>






                <tr class="bg-white">
                    <th scope="row">
                        Seed RoomData
                    </th>
                    <td>This seeds our database with Rooms</td>
                    <td><button type="button" id="SeedRoomData" class="btn btn-outline-primary">Seed</button>   </td>
                </tr>
                <tr class="table-divider"></tr>








                <tr class="bg-white">
                    <th scope="row">
                        Seed Users and roles
                    </th>
                    <td>These seeds admin user and role</td>
                    <td><button type="button" id="seedUsers" class="btn btn-outline-primary">Seed</button>   </td>
                </tr>
                <tr class="table-divider"></tr>

                <tr class="bg-white">
                    <th scope="row">
                        Seed User Reviews
                    </th>
                    <td>These seeds reviews in dormitories</td>
                    <td><button type="button" id="seedReviews" class="btn btn-outline-primary">Seed</button>   </td>
                </tr>
                <tr class="table-divider"></tr>

                <tr class="bg-white">
                    <th scope="row">
                        Seed Bookings
                    </th>
                    <td>This seeds sample bookings to dormitories and users</td>
                    <td><button type="button" id="SeedBookings" class="btn btn-outline-primary">Seed</button>   </td>
                </tr>
                <tr class="table-divider"></tr>


                <tr class="bg-white">
                    <th scope="row">
                        Seed Cart items
                    </th>
                    <td>This seeds sample cart items for some users</td>
                    <td><button type="button" id="SeedCartItems" class="btn btn-outline-primary">Seed</button>   </td>
                </tr>
                <tr class="table-divider"></tr>


            </tbody>
        </table>
    </div>
</section>


@section scripts
    {
 
    <script>


        $("#seedFacilities").click(function () {

           // alert("button clicked");
            $.ajax({
                type: "POST",
                url: "SeedFacilities",
                data: {
                    SectionId: "comments_section"
                },
                success: function (result, textStatus, xhr) {
                    //     alert(result);
                    $("#comments_section").html(result);
                    if (JSON.stringify(result) === 'true') {
                        alert("Facilities seeded successfully");
                    } else {
                        alert("Failed to seed data");
                    }
                }
                
            });
        
        });  


        $("#seedDormitories").click(function () {

            // alert("button clicked");
            $.ajax({
                type: "POST",
                url: "seedDormitories",
                data: {
                    SectionId: "comments_section"
                },
                success: function (result, textStatus, xhr) {
                    //     alert(result);
                    $("#comments_section").html(result);
                    if (JSON.stringify(result) === 'true') {
                        alert("Facilities seeded successfully");
                    } else {
                        alert("Failed to seed data");
                    }
                }

            });

        });



        $("#seedUsers").click(function () {

            // alert("button clicked");
            $.ajax({
                type: "POST",
                url: "SeedUsersAndRolesAsync",
                data: {
                    SectionId: "comments_section"
                },
                success: function (result, textStatus, xhr) {
                    //     alert(result);
                    $("#comments_section").html(result);
                    if (JSON.stringify(result) === 'true') {
                        alert("User roles seeded successfully");
                    } else {
                        alert("Failed to seed data");
                    }
                }

            });

        });
        
        $("#testEmail").click(function () {

            // alert("button clicked");
            $.ajax({
                type: "POST",
                url: "testEmail",
                data: {
                    SectionId: "comments_section"
                },
                success: function (result, textStatus, xhr) {
                    //     alert(result);
                    $("#comments_section").html(result);
                    if (JSON.stringify(result) === 'true') {
                        alert("test email sent successfully");
                    } else {
                        alert("Error in sending test email");
                    }
                }

            });

        });




        $("#SeedBookings").click(function () {

            // alert("button clicked");
            $.ajax({
                type: "POST",
                url: "SeedBookings",
                data: {
                    SectionId: "comments_section"
                },
                success: function (result, textStatus, xhr) {
                    //     alert(result);
                    $("#comments_section").html(result);
                    if (JSON.stringify(result) === 'true') {
                        alert("Sample bookings seeded successfully");
                    } else {
                        alert("Failed to seed data");
                    }
                }

            });

        });


        $("#SeedEMUMapLocations").click(function () {

            // alert("button clicked");
            $.ajax({
                type: "POST",
                url: "SeedEMUMapLocations",
                data: {
                    SectionId: "comments_section"
                },
                success: function (result, textStatus, xhr) {
                    //     alert(result);
                    $("#comments_section").html(result);
                    if (JSON.stringify(result) === 'true') {
                        alert("Emu map locations seeded successfully");
                    } else {
                        alert("Failed to seed data");
                    }
                }

            });

        });


        $("#SeedRoomData").click(function () {

            // alert("button clicked");
            $.ajax({
                type: "POST",
                url: "SeedRoomData",
                data: {
                    SectionId: "comments_section"
                },
                success: function (result, textStatus, xhr) {
                    //     alert(result);
                    $("#comments_section").html(result);
                    if (JSON.stringify(result) === 'true') {
                        alert("Sample room data seeded successfully");
                    } else {
                        alert("Failed to seed data");
                    }
                }

            });

        });


        $("#seedDormitoryBlocks").click(function () {

            // alert("button clicked");
            $.ajax({
                type: "POST",
                url: "seedDormitoryBlocks",
                data: {
                    SectionId: "comments_section"
                },
                success: function (result, textStatus, xhr) {
                    //     alert(result);
                    $("#comments_section").html(result);
                    if (JSON.stringify(result) === 'true') {
                        alert("Sample Dormitory blocks seeded successfully");
                    } else {
                        alert("Failed to seed data");
                    }
                }

            });

        });


        $("#SeedDormitoryType").click(function () {

            // alert("button clicked");
            $.ajax({
                type: "POST",
                url: "SeedDormitoryType",
                data: {
                    SectionId: "comments_section"
                },
                success: function (result, textStatus, xhr) {
                    //     alert(result);
                    $("#comments_section").html(result);
                    if (JSON.stringify(result) === 'true') {
                        alert("Sample Dormitory type seeded successfully");
                    } else {
                        alert("Failed to seed data");
                    }
                }

            });

        });



        $("#SeedCartItems").click(function () {

            // alert("button clicked");
            $.ajax({
                type: "POST",
                url: "SeedCartItems",
                data: {
                    SectionId: "comments_section"
                },
                success: function (result, textStatus, xhr) {
                    //     alert(result);
                    $("#comments_section").html(result);
                    if (JSON.stringify(result) === 'true') {
                        alert("Cart Items seeded successfully");
                    } else {
                        alert("Failed to seed data");
                    }
                }

            });

        });


        $("#seedReviews").click(function () {

            // alert("button clicked");
            $.ajax({
                type: "POST",
                url: "seedReviews",
                data: {
                    SectionId: "comments_section"
                },
                success: function (result, textStatus, xhr) {
                    //     alert(result);
                    $("#comments_section").html(result);
                    if (JSON.stringify(result) === 'true') {
                        alert("User Reviews seeded successfully");
                    } else {
                        alert("Failed to seed data");
                    }
                }

            });

        });


        $("#CheckJson").click(function () {

            // alert("button clicked");
            $.ajax({
                type: "POST",
                url: "CheckJsonResult",
                data: {
                    SectionId: "comments_section"
                },
                success: function (result, textStatus, xhr) {
                    //     alert(result);
                    $("#comments_section").html(result);
                    if (JSON.stringify(result) === 'true') {
                        alert("Json returned successfully");
                    } else {
                        alert("Failed to get data");
                    }
                }

            });

        });

    </script>



}

@section styles{


}