@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="pt-5 mt-5 delimiter-top" id="AreaInfo">
    <!-- Resume timeline -->
    <h6>@Localizer["Area info"]<span class="text-primary "> -Excellent location - @Localizer["show map"]</span></h6>
    <span class="badge badge-md badge-pill badge-info text-uppercase">Students love the garden at alfam!</span>
    <p>Students love the garden at alfam! The dormitory is located at the south campus, it was built at the year 2002, it has a good foundation in eastern mediterranean university
  
        The dormitory is known for how good it has been with students, a lot of Eastern mediterranean university recommend it
    
        The dormitory is five minutes away from health center and two minutes walk away from Computer engineering department</p>



</div>
