@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="pt-5 mt-5 delimiter-top" id="AreaInfo">
    <!-- Resume timeline -->
    <h6>@Localizer["Area info"]<span class="text-primary "> -Excellent location - @Localizer["show map"]</span></h6>
    <span class="badge badge-md badge-pill badge-info text-uppercase">Students love the garden at alfam!</span>



</div>
