@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="card bg-secondary px-4 border-0 ">

    <div class="d-flex align-items-center">
        <a href="#" class="avatar rounded-circle shadow">
            <img alt="Image placeholder" src="https://scontent-vie1-1.xx.fbcdn.net/v/t1.0-0/p168x128/16472881_1354143061327538_335400885864373680_n.jpg?_nc_cat=104&_nc_ht=scontent-vie1-1.xx&oh=05d8c8f18b5014a974a5b90ff4a7f7ac&oe=5C8647DD">
        </a>
        <div class="avatar-content">
            <h6 class="mb-0">Ahmed Bassiouny</h6>
            <span class="static-rating static-rating-sm">

                <i class="star fas fa-star voted"></i>
                <i class="star fas fa-star voted"></i>
                <i class="star fas fa-star voted"></i>
                <i class="star fas fa-star voted"></i>
                <i class="star fas fa-star"></i>

            </span>
        </div>
    </div>
    <div class="media media-comment">

        <div class="media-body">
            <div class="media-text-bubble left-top">
                <p class="text-sm ">Cras at, tempus viverra turpis...</p>

            </div>
        </div>
    </div>


</div>
<div class="card bg-secondary px-4  border-0 ">

    <div class="d-flex align-items-center">
        <a href="#" class="avatar rounded-circle shadow">
            <img alt="Image placeholder" src="https://www.facebook.com/search/async/profile_picture/?fbid=100000249531894&width=72&height=72">
        </a>
        <div class="avatar-content">
            <h6 class="mb-0">Ahmet Önder Beşiroğlu</h6>
            <span class="static-rating static-rating-sm">

                <i class="star fas fa-star voted"></i>
                <i class="star fas fa-star voted"></i>
                <i class="star fas fa-star voted"></i>
                <i class="star fas fa-star voted"></i>
                <i class="star fas fa-star"></i>

            </span>
        </div>
    </div>
    <div class="media media-comment">

        <div class="media-body">
            <div class="media-text-bubble left-top">
                <p class="text-sm ">Cras at, tempus viverra turpis...</p>

            </div>
        </div>
    </div>


</div>


<div class="card bg-secondary px-4  border-0 mb-0">

    <div class="d-flex align-items-center">
        <a href="#" class="avatar rounded-circle shadow">
            <img alt="Image placeholder" src="https://avatars0.githubusercontent.com/u/14825113?s=400&v=4">
        </a>
        <div class="avatar-content">
            <h6 class="mb-0">Ivy Thompson</h6>
            <span class="static-rating static-rating-sm">

                <i class="star fas fa-star voted"></i>
                <i class="star fas fa-star voted"></i>
                <i class="star fas fa-star voted"></i>
                <i class="star fas fa-star voted"></i>
                <i class="star fas fa-star"></i>

            </span>
        </div>
    </div>
    <div class="media media-comment">

        <div class="media-body">
            <div class="media-text-bubble left-top">
                <p class="text-sm ">Cras sitstibulum in vulputate at, tempus viverra turpis...</p>

            </div>
        </div>
    </div>


</div>
<div class="card bg-secondary px-4 py-4 border-0 mb-0">

    <div class="d-flex align-items-center">
        <a href="#" class="avatar rounded-circle shadow">
            <img alt="Image placeholder" src="https://avatars3.githubusercontent.com/u/35945225?s=460&v=4">
        </a>
        <div class="avatar-content">
            <h6 class="mb-0">Abdullahi Ismail</h6>
            <span class="static-rating static-rating-sm">

                <i class="star fas fa-star voted"></i>
                <i class="star fas fa-star voted"></i>
                <i class="star fas fa-star voted"></i>
                <i class="star fas fa-star voted"></i>
                <i class="star fas fa-star"></i>

            </span>
        </div>
    </div>
    <div class="media media-comment">

        <div class="media-body">
            <div class="media-text-bubble left-top">
                <p class="text-sm ">Cras sit amet nibh libero, in gravida nulla. Nulla vel metusras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>

            </div>
        </div>
    </div>


</div>

<div class="card bg-secondary px-4 py-4 border-0 mb-0">

    <div class="d-flex align-items-center">
        <a href="#" class="avatar rounded-circle shadow">
            <img alt="Image placeholder" src="https://www.facebook.com/search/async/profile_picture/?fbid=100001237759702&width=72&height=72">
        </a>
        <div class="avatar-content">
            <h6 class="mb-0">Kamal MG</h6>
            <span class="static-rating static-rating-sm">

                <i class="star fas fa-star voted"></i>
                <i class="star fas fa-star voted"></i>
                <i class="star fas fa-star voted"></i>
                <i class="star fas fa-star voted"></i>
                <i class="star fas fa-star"></i>

            </span>
        </div>
    </div>
    <div class="media media-comment">

        <div class="media-body">
            <div class="media-text-bubble left-top">
                <p class="text-sm ">Cras sit amet nibh libero, in gravida nulla. Nulla vel metusras purus odio, vestibulum in vulputate at, tempus viverra turpis.</p>

            </div>
        </div>
    </div>


</div>
