@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="pt-5 mt-5 delimiter-top" id="Facilities">
    <!-- Resume timeline -->
    <h4>@Localizer["Most Popular Facilities"]</h4>
    
    <span class="mb-5">Here is a list of our most popular facilities in this dormitory</span>
    

    <div class="row row-grid mt-4">
        <div class="col-md-4">

            <span class="d-block"> <img alt="Image placeholder" src="~/frontend_Content/assets/img/icons/dusk/png/facilities/icons8-widescreen-64.png" style="width: 30px;"> TV</span>

            <span class="d-block"> <img alt="Image placeholder" src="~/frontend_Content/assets/img/icons/dusk/png/facilities/icons8-shower-50.png" style="width: 30px;"> WC-shower</span>
            <span class="d-block"> <img alt="Image placeholder" src="~/frontend_Content/assets/img/icons/dusk/png/facilities/icons8-fridge-64.png" style="width: 30px;"> Refrigerator</span>
            <span class="d-block"> <img alt="Image placeholder" src="~/frontend_Content/assets/img/icons/dusk/png/facilities/icons8-restaurant-table-64.png" style="width: 20px;"> Cafeteria</span>
            <span class="d-block"> <img alt="Image placeholder" src="~/frontend_Content/assets/img/icons/dusk/png/facilities/icons8-hotel-bed-64.png" style="width: 20px;"> Bed</span>
            <span class="d-block"> <img alt="Image placeholder" src="~/frontend_Content/assets/img/icons/dusk/png/facilities/icons8-exercise-64.png" style="width: 20px;"> Gym</span>

            @*<span class="d-block"> <img alt="Image placeholder" src="~/frontend_Content/assets/img/icons/dusk/png/facilities/icons8-horizontal-line-64.png" style="width: 30px;"> TV</span>
        <span class="d-block"> <img alt="Image placeholder" src="~/frontend_Content/assets/img/icons/dusk/png/facilities/icons8-horizontal-line-64.png" style="width: 30px;"> TV</span>
        <span class="d-block"> <img alt="Image placeholder" src="~/frontend_Content/assets/img/icons/dusk/png/facilities/icons8-horizontal-line-64.png" style="width: 30px;"> TV</span>
        <span class="d-block"> <img alt="Image placeholder" src="~/frontend_Content/assets/img/icons/dusk/png/facilities/icons8-horizontal-line-64.png" style="width: 30px;"> TV</span>*@

        </div>

        <div class="col-md-4">
            <span class="d-block"> <img alt="Image placeholder" src="~/frontend_Content/assets/img/icons/dusk/png/facilities/icons8-microwave-64.png" style="width: 20px;"> Microwave</span>
            <span class="d-block"> <img alt="Image placeholder" src="~/frontend_Content/assets/img/icons/dusk/png/facilities/icons8-wi-fi-64.png" style="width: 20px;"> Internet</span>
            <span class="d-block"> <img alt="Image placeholder" src="~/frontend_Content/assets/img/icons/dusk/png/facilities/icons8-cooling-64.png" style="width: 20px;"> Air-condition</span>
            <span class="d-block"> <img alt="Image placeholder" src="~/frontend_Content/assets/img/icons/dusk/png/facilities/icons8-office-phone-64.png" style="width: 20px;"> Room tel.</span>
            <span class="d-block"> <img alt="Image placeholder" src="~/frontend_Content/assets/img/icons/dusk/png/facilities/icons8-compressor-64.png" style="width: 20px;"> Generator</span>
            @*<span class="d-block"> <img alt="Image placeholder" src="~/frontend_Content/assets/img/icons/dusk/png/facilities/icons8-horizontal-line-64.png" style="width: 20px;"> facility</span>
        <span class="d-block"> <img alt="Image placeholder" src="~/frontend_Content/assets/img/icons/dusk/png/facilities/icons8-horizontal-line-64.png" style="width: 20px;"> facility</span>
        <span class="d-block"> <img alt="Image placeholder" src="~/frontend_Content/assets/img/icons/dusk/png/facilities/icons8-horizontal-line-64.png" style="width: 20px;"> facility</span>
        <span class="d-block"> <img alt="Image placeholder" src="~/frontend_Content/assets/img/icons/dusk/png/facilities/icons8-horizontal-line-64.png" style="width: 20px;"> facility</span>*@

        </div>

      
    </div>
  
</div>
