@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Dau.Services.Domain.DormitoryDetailService
@model List<FacilitiesSectionViewModel>

@{
    var modelList = Model;
    var count = 0;
    int columnNoItem = Model.Count / 3;
}
<div class="pt-5 mt-5 delimiter-top" id="Facilities">
    <!-- Resume timeline -->
    <h4>@Localizer["Dormitory Facilities"]
    @*<img alt="Image placeholder" src="~/frontend_Content/assets/img/icons/dusk/svg/in-progress.svg" style="width: 45px;">*@
    
    
    
    
    
    </h4>

    <span class="mb-5">Here is a list of our most popular facilities in this dormitory</span>


    <div class="row row-grid mt-4">

        <div class="col-md-4" data-animate-hover="1" data-toggle="hidden">
            <ul>

                @foreach (var item in modelList)
                {

                    <li>
                        <span class=" mt-1 facilityCol shadow animate-this">
                            @if (item.IconUrl != null)
                            {

                                @*<img alt="Image placeholder" src="@item.IconUrl" style="width: 20px;">*@
                            }
                            @item.FacilityName
                        </span>
                    </li>


                    @if (count == columnNoItem)
                    {
                        count = 0;
                        var htmlString = @" </ul> </div> <div class=""col-md-4""> <ul>";
                        @Html.Raw(htmlString)
                    }


                    count++;
                }

            </ul>
        </div>





    </div>

</div>
