@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="overlapRatingParent">

    <!-- Swiper -->
    <div class="swiper-container">

        <div class="swiper-wrapper">
            <div class="swiper-slide " data-animate-hover="1"><img alt="Image placeholder" class="img-fluid rounded" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/kamacioglu/S%C3%9C%C4%B0T_1.jpg?RenditionID=6"></div>
            <div class="swiper-slide"><img alt="Image placeholder" class="img-fluid rounded" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/kamacioglu/S%C3%9C%C4%B0T_1.jpg?RenditionID=8"></div>
            <div class="swiper-slide"><img alt="Image placeholder" class="img-fluid rounded" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/kamacioglu/S%C3%9C%C4%B0T_1.jpg?RenditionID=9"></div>
            <div class="swiper-slide"><img alt="Image placeholder" class="img-fluid rounded" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/kamacioglu/S%C3%9C%C4%B0T_1.jpg?RenditionID=7"></div>
            <div class="swiper-slide"><img alt="Image placeholder" class="img-fluid rounded" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/kamacioglu/S%C3%9C%C4%B0T_1.jpg?RenditionID=6"></div>
            <div class="swiper-slide"><img alt="Image placeholder" class="img-fluid rounded" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/kamacioglu/S%C3%9C%C4%B0T_1.jpg?RenditionID=8"></div>
            <div class="swiper-slide"><img alt="Image placeholder" class="img-fluid rounded" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/kamacioglu/S%C3%9C%C4%B0T_1.jpg?RenditionID=5"></div>
            <div class="swiper-slide"><img alt="Image placeholder" class="img-fluid rounded" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/kamacioglu/S%C3%9C%C4%B0T_1.jpg?RenditionID=0"></div>
            <div class="swiper-slide"><img alt="Image placeholder" class="img-fluid rounded" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/kamacioglu/S%C3%9C%C4%B0T_1.jpg?RenditionID=6"></div>
            <div class="swiper-slide"><img alt="Image placeholder" class="img-fluid rounded" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/kamacioglu/S%C3%9C%C4%B0T_1.jpg?RenditionID=6"></div>
            <div class="swiper-slide"><img alt="Image placeholder" class="img-fluid rounded" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/kamacioglu/S%C3%9C%C4%B0T_1.jpg?RenditionID=6"></div>
            <div class="swiper-slide"><img alt="Image placeholder" class="img-fluid rounded" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/kamacioglu/S%C3%9C%C4%B0T_1.jpg?RenditionID=6"></div>
            <div class="swiper-slide"><img alt="Image placeholder" class="img-fluid rounded" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/kamacioglu/S%C3%9C%C4%B0T_1.jpg?RenditionID=6"></div>

        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>

        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>


</div>


<div>
    <div class="grid">
        <div class="grid-item" id="grid-item0" onclick="swiperClick(0)"><img alt="Image placeholder" height="50" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/kamacioglu/S%C3%9C%C4%B0T_1.jpg?RenditionID=1"></div>
        <div class="grid-item" id="grid-item1" onclick="swiperClick(1)"><img alt="Image placeholder" height="50" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/kamacioglu/S%C3%9C%C4%B0T_1.jpg?RenditionID=1"></div>
        <div class="grid-item" id="grid-item2" onclick="swiperClick(2)"><img alt="Image placeholder" height="50" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/kamacioglu/S%C3%9C%C4%B0T_1.jpg?RenditionID=1"></div>
        <div class="grid-item" id="grid-item3" onclick="swiperClick(3)"><img alt="Image placeholder" height="50" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/kamacioglu/S%C3%9C%C4%B0T_1.jpg?RenditionID=1"></div>
        <div class="grid-item" id="grid-item4" onclick="swiperClick(4)"><img alt="Image placeholder" height="50" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/kamacioglu/S%C3%9C%C4%B0T_1.jpg?RenditionID=1"></div>
        <div class="grid-item" id="grid-item5" onclick="swiperClick(5)"><img alt="Image placeholder" height="50" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/kamacioglu/S%C3%9C%C4%B0T_1.jpg?RenditionID=1"></div>
        <div class="grid-item" id="grid-item6" onclick="swiperClick(6)"><img alt="Image placeholder" height="50" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/kamacioglu/S%C3%9C%C4%B0T_1.jpg?RenditionID=1"></div>
        <div class="grid-item" id="grid-item7" onclick="swiperClick(7)"><img alt="Image placeholder" height="50" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/kamacioglu/S%C3%9C%C4%B0T_1.jpg?RenditionID=1"></div>
        <div class="grid-item" id="grid-item8" onclick="swiperClick(8)"><img alt="Image placeholder" height="50" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/kamacioglu/S%C3%9C%C4%B0T_1.jpg?RenditionID=1"></div>
        <div class="grid-item" id="grid-item9" onclick="swiperClick(9)"><img alt="Image placeholder" height="50" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/kamacioglu/S%C3%9C%C4%B0T_1.jpg?RenditionID=1"></div>
        <div class="grid-item" id="grid-item10" onclick="swiperClick(10)"><img alt="Image placeholder" height="50" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/kamacioglu/S%C3%9C%C4%B0T_1.jpg?RenditionID=1"></div>
        <div class="grid-item" id="grid-item11" onclick="swiperClick(11)"><img alt="Image placeholder" height="50" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/kamacioglu/S%C3%9C%C4%B0T_1.jpg?RenditionID=1"></div>
        <div class="grid-item" id="grid-item12" onclick="swiperClick(12)"><img alt="Image placeholder" height="50" src="https://dormitories.emu.edu.tr/PhotoGalleries/dormitories/2017/kamacioglu/S%C3%9C%C4%B0T_1.jpg?RenditionID=1"></div>

    </div>
</div>