@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@using Dau.Services.Domain.DormitoryDetailService
@model SlidersSectionViewModel
@{
    var item = Model;
    var count = 0;
}
<div class="overlapRatingParent">

    <!-- Swiper -->
    <div class="swiper-container">

        <div class="swiper-wrapper">
            @foreach (var ImageUrl in item.ImageUrls)
            {
                <div class="swiper-slide"><img alt="Image placeholder" class="img-fluid rounded" src="@ImageUrl"></div>
            }
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>

        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>


</div>


<div>
    <div class="grid">
        @foreach (var ImageUrl in item.ImageUrls)
        {
            <div class="grid-item" id="grid-item-@count"  onclick="swiperClick(@count)"><img alt="Image placeholder" height="50" style="object-fit: contain;" src="@ImageUrl"></div>


            count++;
        }
    </div>
</div>