@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<style>

    .logoMainFooter {
        width: 380px;
    }

    @@media only screen and (max-width: 600px) {
        .logoMainFooter {
            width: 280px;
        }
    }

        @@media only screen and (max-width: 300px) {
            .logoMainFooter {
                width: 200px;
            }
        }
</style>

<footer class="footer footer-light bg-white">
    <div class="container">
        <div class="row pt-md">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <a href="../index.html">
                    <img src="@Url.Content("~/frontend_Content/assets")/img/brand/dark.png" alt="Footer logo" class="logoMainFooter">
                </a>
                <p class="text-sm">
                    Eastern Mediterranean University
                    Dormitories & Cafeterias Directorate
                    Famagusta, North Cyprus
                    via Mersin 10, Turkey
                </p>
            </div>
            <div class="col-lg-2 col-6 col-sm-4 ml-lg-auto mb-5 mb-lg-0">
                <h6 class="heading mb-3">Account</h6>
                <ul class="list-unstyled">
                    <li>
                        <a asp-controller="debug" asp-action="AccountProfile">Profile</a>
                    </li>
                    <li>
                        <a asp-controller="debug" asp-action="AccountSettings">Settings</a>
                    </li>
                    <li>
                        <a asp-controller="debug" asp-action="AccountBilling">Bookings</a>
                    </li>
                    <li>
                        <a asp-controller="debug" asp-action="AccountNotifications">Notifications</a>
                    </li>

                    <li>
                        <a asp-controller="debug" asp-action="SearchDormMobileApp">Android app</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">
                <h6 class="heading mb-3">About US</h6>
                <ul class="list-unstyled text-small">
                    <li>
                        <a href="#">Dormitories</a>
                    </li>
                    <li>
                        <a href="#">Fees and facilities</a>
                    </li>
                    <li>
                        <a href="#">Rules</a>
                    </li>

                    <li>
                        <a href="#">Daily Needs</a>
                    </li>

                    <li>
                        <a href="#">FAQ</a>
                    </li>

                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-sm-4 mb-5 mb-lg-0">
                <h6 class="heading mb-3">EMU</h6>
                <ul class="list-unstyled">
                    <li>
                        <a href="#">EMU Home</a>
                    </li>
                    <li>
                        <a href="#">EMU News/Events</a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="row align-items-center justify-content-md-between py-4 mt-4 delimiter-top">
            <div class="col-md-6">
                <div class="copyright text-sm font-weight-bold text-center text-md-left">
                    &copy; 2018 <a href="https://emu.edu.tr" class="font-weight-bold" target="_blank">Eastern Mediterranean Univerisity</a>. All rights reserved.
                </div>
            </div>
            <div class="col-md-6">
                <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="" target="_blank">
                            <i class="fab fa-google-plus-square"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="" target="_blank">
                            <i class="fab fa-facebook"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
