@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@using Microsoft.AspNetCore.Identity
@using Dau.Core.Domain.User;
@using Dau.Services.Users;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IUsersService _userService
@if (SignInManager.IsSignedIn(User))
{<secure-content asp-action="Index" asp-controller="Admin" asp-area="">
    <div class="col">
        <a asp-action="Index" asp-controller="Admin" class="btn btn-block btn-primary">Administration</a>
    </div>


</secure-content>
}
