@using Microsoft.AspNetCore.Identity
@using Dau.Core.Domain.User;
@using Dau.Services.Users;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IUsersService _userService
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<li>
    <!-- Menu toggle button -->


</li>
<li><a href="#">Home</a></li>

<li class="active"><a href="#">@ViewBag.ContentFormat_menu_accomodation<span class="sr-only">(current)</span></a></li>
<li><a href="#">Deals</a></li>

<li><a href="#">Explore EMU</a></li>
<li><a href="#">Dormitories</a></li>


@if (SignInManager.IsSignedIn(User))
{
    <li><a href="#">My Account</a></li>}

<li><a href="https://dormitories.emu.edu.tr/en" target="_blank">@ViewBag.ContentFormat_menu_dormitories_and_cafeteria</a></li>

<li><a asp-controller="debug" asp-action="">Debug new pages</a></li>

@if (!SignInManager.IsSignedIn(User))
{
    <a class="visible-xs" asp-action="Index" asp-controller="Login">
        Login
    </a> }
else
{
    <a class="visible-xs" asp-action="Logout" asp-controller="Login">
        Logout
    </a>
}