<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        @DateTime.Now
    </div>
    <!-- Default to the left -->
    <strong>@Localizer["Copyright"] &copy; 2018 <a target="_blank" href="https://www.emu.edu.tr">@Localizer["Eastern Mediterranean University"]</a></strong> @Localizer["All rights reserved."]
</footer>
