<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        @DateTime.Now
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2018 <a target="_blank" href="https://www.emu.edu.tr">Eastern Mediterranean University</a></strong> All rights reserved.
</footer>
