
@{

    var currentController = ViewContext.RouteData.Values["controller"] as string ?? "Dashboard";
    var currentAction = ViewContext.RouteData.Values["action"] as string ?? "Index";

    MenuItemViewModel item = new MenuItemViewModel();
    MenuItemViewModel subItem = new MenuItemViewModel();
    List<MenuSubItems> actions = new List<MenuSubItems>();
    List<MenuSubItems> SubActions = new List<MenuSubItems>();
}

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
       
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li class=" @(currentController=="Dashboard"? "active" : "")">
                <a href="@Url.Action("", "Dashboard")">
                    <i class="fa fa-desktop"></i> <span>Dashboard</span>
                </a>
            </li>





            @{ actions = new List<MenuSubItems>(new MenuSubItems[] {
                                  new MenuSubItems { ActionName = "TagHelpers", ActionDisplayName = "TagHelpers" }
                                                               });



                item = new MenuItemViewModel
                {
                    ControllerDisplayName = "Debug",
                    ControllerName = "Debug",
                    icon = "fa fa-bug",
                    CurrentController = currentController,
                    CurrentAction = currentAction,
                    AreaName = "Admin",
                    Actions = actions,
                    subMenu = null
                };
            }

            <Menu-item menu-item="item">
            </Menu-item>



            @{SubActions = new List<MenuSubItems>(new MenuSubItems[] {
                                new MenuSubItems {ActionName = "Log", ActionDisplayName = "Activity Log" },
                                new MenuSubItems { ActionName = "Type", ActionDisplayName = "Activity Log Type" }
                                                                                                      });


                actions = new List<MenuSubItems>(new MenuSubItems[] {
                                       new MenuSubItems { ActionName = "List", ActionDisplayName = "Users" },
                                       new MenuSubItems { ActionName = "Roles", ActionDisplayName = "User roles" },
                                       new MenuSubItems { ActionName = "OnlineUsers", ActionDisplayName = "Online Users" },
                                       new MenuSubItems { ActionName = "UsersReport", ActionDisplayName = "Users report" }

                                                                                    });

                subItem = new MenuItemViewModel
                {
                    ControllerDisplayName = "Activity log",
                    ControllerName = "ActivityLog",
                    CurrentController = currentController,
                    CurrentAction = currentAction,
                    AreaName = "Admin",
                    Actions = SubActions,
                    subMenu = null
                };

                item = new MenuItemViewModel
                {
                    ControllerDisplayName = "Users",
                    ControllerName = "Users",
                    icon = "fa fa-user",
                    CurrentController = currentController,
                    CurrentAction = currentAction,
                    AreaName = "Admin",
                    Actions = actions,
                    subMenu = subItem
                };
            }


            <Menu-item menu-item="item">
            </Menu-item>







            @{ SubActions = new List<MenuSubItems>(new MenuSubItems[] {
                                  new MenuSubItems {ActionName = "Facilities", ActionDisplayName = "Facilities" }
                                                                                                      });


                actions = new List<MenuSubItems>(new MenuSubItems[] {
                                       new MenuSubItems { ActionName = "Rooms", ActionDisplayName = "Rooms" },
                                       new MenuSubItems { ActionName = "DormitoryBlocks", ActionDisplayName = "Dormitory blocks" },
                                       new MenuSubItems { ActionName = "BulkRoomEdit", ActionDisplayName = "Bulk edit rooms" },
                                       new MenuSubItems { ActionName = "RoomReviews", ActionDisplayName = "Room reviews" },
                                       new MenuSubItems { ActionName = "LowQuotaReport", ActionDisplayName = "Low quota report" }


                                                                                    });

                subItem = new MenuItemViewModel
                {
                    ControllerDisplayName = "Facilities",
                    ControllerName = "Catalog",
                    CurrentController = currentController,
                    CurrentAction = currentAction,
                    AreaName = "Admin",
                    Actions = SubActions,
                    subMenu = null
                };

                item = new MenuItemViewModel
                {
                    ControllerDisplayName = "Catalog",
                    ControllerName = "Catalog",
                    icon = "fa fa-book",
                    CurrentController = currentController,
                    CurrentAction = currentAction,
                    AreaName = "Admin",
                    Actions = actions,
                    subMenu = subItem
                };
            }


            <Menu-item menu-item="item">
            </Menu-item>







            @{ actions = new List<MenuSubItems>(new MenuSubItems[] {
                                      new MenuSubItems { ActionName = "List", ActionDisplayName = "Reservations/bookings" },
                                      new MenuSubItems { ActionName = "CancelRequest", ActionDisplayName = "Cancel reservations request" },
                                      new MenuSubItems { ActionName = "CurrentWishList", ActionDisplayName = "Current booking wishlist" },
                                      new MenuSubItems { ActionName = "BestSellerRooms", ActionDisplayName = "Best seller/reserved rooms" },
                                      new MenuSubItems { ActionName = "CountryReport", ActionDisplayName = "Country report" },
                                      new MenuSubItems { ActionName = "RoomsNeverReserved", ActionDisplayName = "Rooms never reserved" }


                                                                                    });



                item = new MenuItemViewModel
                {
                    ControllerDisplayName = "Reservations",
                    ControllerName = "Reservations",
                    icon = "fa fa-shopping-cart",
                    CurrentController = currentController,
                    CurrentAction = currentAction,
                    AreaName = "Admin",
                    Actions = actions,
                    subMenu = null
                };
            }


            <Menu-item menu-item="item">
            </Menu-item>




            @{ actions = new List<MenuSubItems>(new MenuSubItems[] {
                                  new MenuSubItems { ActionName = "Discounts", ActionDisplayName = "Discounts" },
                                  new MenuSubItems { ActionName = "Affiliates", ActionDisplayName = "Affiliates" },
                                  new MenuSubItems { ActionName = "NewsLetterSubscribers", ActionDisplayName = "News letter subsribers" },
                                  new MenuSubItems { ActionName = "Campaigns", ActionDisplayName = "Campaigns" }
                                                               });



                item = new MenuItemViewModel
                {
                    ControllerDisplayName = "Promotions",
                    ControllerName = "Promotions",
                    icon = "fa fa-tags",
                    CurrentController = currentController,
                    CurrentAction = currentAction,
                    AreaName = "Admin",
                    Actions = actions,
                    subMenu = null
                };
            }

            <Menu-item menu-item="item">
            </Menu-item>









            @{ actions = new List<MenuSubItems>(new MenuSubItems[] {
                                  new MenuSubItems { ActionName = "Topics", ActionDisplayName = "Topics(Pages)" },
                                  new MenuSubItems { ActionName = "MessageTemplates", ActionDisplayName = "Message templates" },
                                  new MenuSubItems { ActionName = "Polls", ActionDisplayName = "Polls" },
                                  new MenuSubItems { ActionName = "Survey", ActionDisplayName = "Survey" }
                                                               });



                item = new MenuItemViewModel
                {
                    ControllerDisplayName = "Content management",
                    ControllerName = "ContentManagement",
                    icon = "fa fa-cubes",
                    CurrentController = currentController,
                    CurrentAction = currentAction,
                    AreaName = "Admin",
                    Actions = actions,
                    subMenu = null
                };
            }

            <Menu-item menu-item="item">
            </Menu-item>




            @{ actions = new List<MenuSubItems>(new MenuSubItems[] {
                                    new MenuSubItems { ActionName = "List", ActionDisplayName = "Notifications" },
                                    new MenuSubItems { ActionName = "Announcements", ActionDisplayName = "Announcements" },
                                    new MenuSubItems { ActionName = "ManageAnnouncements", ActionDisplayName = "Manage Announcements" }
                                                               });



                item = new MenuItemViewModel
                {
                    ControllerDisplayName = "Notifications",
                    ControllerName = "Notifications",
                    icon = "fa fa-bullhorn",
                    CurrentController = currentController,
                    CurrentAction = currentAction,
                    AreaName = "Admin",
                    Actions = actions,
                    subMenu = null
                };
            }

            <Menu-item menu-item="item">
            </Menu-item>



            @{ actions = new List<MenuSubItems>(new MenuSubItems[] {
                                   new MenuSubItems { ActionName = "EmailAccounts", ActionDisplayName = "EmailAccounts" },
                                   new MenuSubItems { ActionName = "Dormitories", ActionDisplayName = "Dormitories" },
                                   new MenuSubItems { ActionName = "Countries", ActionDisplayName = "Countries" },
                                   new MenuSubItems { ActionName = "Languages", ActionDisplayName = "Languages" },
                                   new MenuSubItems { ActionName = "Currencies", ActionDisplayName = "Currencies" },
                                   new MenuSubItems { ActionName = "AccessControlList", ActionDisplayName = "Access control lists" }
                                                               });



                item = new MenuItemViewModel
                {
                    ControllerDisplayName = "Configurations",
                    ControllerName = "Configurations",
                    icon = "fa fa-gears",
                    CurrentController = currentController,
                    CurrentAction = currentAction,
                    AreaName = "Admin",
                    Actions = actions,
                    subMenu = null
                };
            }

            <Menu-item menu-item="item">
            </Menu-item>



            @{




                actions = new List<MenuSubItems>(new MenuSubItems[] {
                                       new MenuSubItems { ActionName = "Information", ActionDisplayName = "System information" },
                                       new MenuSubItems { ActionName = "Log", ActionDisplayName = "Log" },
                                       new MenuSubItems { ActionName = "Warning", ActionDisplayName = "Warning" },
                                       new MenuSubItems { ActionName = "Maintenance", ActionDisplayName = "Maintenance" },
                                       new MenuSubItems { ActionName = "MessageQueues", ActionDisplayName = "Message queue" },
                                       new MenuSubItems { ActionName = "ScheduleTasks", ActionDisplayName = "Schedule tasks" },
                                       new MenuSubItems { ActionName = "SEOFriendlyPageNames", ActionDisplayName = "SEO friendly page names" }
                                                                                    });

                item = new MenuItemViewModel
                {
                    ControllerDisplayName = "System",
                    ControllerName = "System",
                    CurrentController = currentController,
                    CurrentAction = currentAction,
                    icon = "fa fa-cube",
                    AreaName = "Admin",
                    Actions = actions,
                    subMenu = null
                };
            }


            <Menu-item menu-item="item">
            </Menu-item>



            @{ actions = new List<MenuSubItems>(new MenuSubItems[] {
                                          new MenuSubItems { ActionName = "UsageReport", ActionDisplayName = "Usage report" },
                                          new MenuSubItems { ActionName = "PushNotifications", ActionDisplayName = "Push notifications" }
                                                               });



                item = new MenuItemViewModel
                {
                    ControllerDisplayName = "Mobile app Manager",
                    ControllerName = "MobileAppManager",
                    icon = "fa fa-mobile",
                    CurrentController = currentController,
                    CurrentAction = currentAction,
                    AreaName = "Admin",
                    Actions = actions,
                    subMenu = null
                };
            }

            <Menu-item menu-item="item">
            </Menu-item>





            @{ actions = new List<MenuSubItems>(new MenuSubItems[] {
                                          new MenuSubItems { ActionName = "Settings", ActionDisplayName = "Settings" },
                                          new MenuSubItems { ActionName = "Clients", ActionDisplayName = "Clients" },
                                          new MenuSubItems { ActionName = "Documentation", ActionDisplayName = "Documentation" }
                                                               });



                item = new MenuItemViewModel
                {
                    ControllerDisplayName = "APi",
                    ControllerName = "API",
                    icon = "fa fa-plug",
                    CurrentController = currentController,
                    CurrentAction = currentAction,
                    AreaName = "Admin",
                    Actions = actions,
                    subMenu = null
                };
            }

            <Menu-item menu-item="item">
            </Menu-item>



            @{ actions = new List<MenuSubItems>(new MenuSubItems[] {
                                          new MenuSubItems { ActionName = "Topics", ActionDisplayName = "Help topics" },
                                          new MenuSubItems { ActionName = "FAQ", ActionDisplayName = "FAQ" }
                                                               });



                item = new MenuItemViewModel
                {
                    ControllerDisplayName = "Help",
                    ControllerName = "Help",
                    icon = "fa fa-question-circle",
                    CurrentController = currentController,
                    CurrentAction = currentAction,
                    AreaName = "Admin",
                    Actions = actions,
                    subMenu = null
                };
            }

            <Menu-item menu-item="item">
            </Menu-item>


</section>
    <!-- /.sidebar -->
</aside>

